In [1]:
# source: https://www.educative.io/blog/cracking-top-facebook-coding-interview-questions#questions

In [2]:
def move_zeros_left(lst):
    zero_idx = []
    num_idx = []
    for i in range(len(lst)):
        if lst[i] == 0:
            zero_idx.append(i)
        else:
            num_idx.append(i)
    all_idx = zero_idx + num_idx
    return [lst[i] for i in all_idx]

In [3]:
lst = [1, 10, 20, 0, 59, 63, 0, 88, 0]
move_zeros_left(lst)

[0, 0, 0, 1, 10, 20, 59, 63, 88]

In [4]:
# def move_zeros_left_(lst):
#     if len(lst) < 1:
#         pass
    
#     len_lst = len(lst)
#     write_idx = len_lst - 1
#     read_idx = len_lst - 1
    
#     while (read_idx >= 0):
#         if lst[read_idx] != 0:
#             lst[write_idx] = lst[read_idx]
#             write_idx -= 1
#         read_idx -= 1
        
#     while (write_idx >= 0):
#         lst[write_idx] = 0
#         write_idx -= 0

# lst = [1, 10, 20, 0, 59, 63, 0, 88, 0]
# move_zeros_left_(lst)

In [5]:
lst = [(1,5), (3,7), (4,6), (6,8)]

In [6]:
def merge_intervals(lst):
    for idx in range(len(lst)-1):
        if lst[idx+1][1] >= lst[idx][1]:
            right = lst[idx+1][1]
        else: 
            right = lst[idx][1]
    return (lst[0][0], right)

In [7]:
merge_intervals(lst)

(1, 8)

In [8]:
lst = [(10, 12), (12,15)]
merge_intervals(lst)

(10, 15)

In [9]:
class pair:
    def __init__(self, left, right):
        self.left = left
        self.right = right

def merge_intervals_(lst):
    if lst == None or len(lst) == 0:
        return None

    result = []
    result.append(pair(lst[0].left, lst[0].right))

    for idx in range(1, len(lst)):

        x1 = lst[idx].left
        x2 = result[len(result)-1].left

        y1 = lst[idx].right
        y2 = result[len(result)-1].right

        if y2 >= x1:
            result[len(result)-1].right = max(y1, y2)
        else:
            result.append(pair(x1, y1))

    return result

In [10]:
lst = [pair(1, 5)
       , pair(3, 7)
       , pair(4, 6)
       , pair(6, 8)       
      ]

result = merge_intervals_(lst)
[(result[i].left, result[i].right) for i in range(len(result))]

[(1, 8)]

In [32]:
# reverse integer
def rev(x):
    string = str(x)
    
    if string[0] == '-':
        return int('-'+string[:0:-1])
    else:
        return int(string[::-1])

In [34]:
rev(123)

321

In [36]:
# Avg Words Length
sentence1 = "Hi all, my name is Tom...I am originally from Australia."
sentence2 = "I need to work very hard to learn more about algorithms in Python!"

def avg_words(s):
    for punc in "!?,;.":
        s = s.replace(punc, '')
    words = s.split()
    return round(sum(len(word) for word in words) / len(words), 2)

In [37]:
avg_words(sentence1)

4.2

In [38]:
avg_words(sentence2)

4.08

In [40]:
# add strings
num1 = '364'
num2 = '1836'

def add_strs(num1, num2):
    return str(eval(num1) + eval(num2))

In [41]:
add_strs(num1, num2)

'2200'

In [51]:
n1, n2 = 0, 0
m1, m2 = 10**(len(num1)-1), 10**(len(num2)-1)

for s in num1:
    n1 += (ord(s) - ord('0')) * m1
    m1 = m1//10

for s in num2:
    n2 += (ord(s) - ord('0')) * m2
    m2 = m2//10
n1+n2

2200

In [47]:
ord('2') - ord('0')

2

In [57]:
# find first non-repeating charater in string
def non_rep(string):
    freq = {}
    for char in string:
        if char in freq:
            freq[char] += 1
        else:
            freq[char] = 1
    for i in range(len(string)):
        if freq[string[i]] == 1:
            return i
    return -1

In [68]:
non_rep('alphabet'), non_rep('aabbcc'), non_rep('jjklp')

(1, -1, 2)

In [61]:
# pallindrome, you may delete at most one character
string = 'radkar'
def pal(string):
    for i in range(len(string)):
        t = string[:i] + string[i+1:]
        if t == t[::-1]:
            return True
    return s == s[::-1]

In [62]:
pal(string)

True

In [65]:
# Monotonic Array
A = [6, 5, 4, 4] 
B = [1,1,1,3,3,4,3,2,4,2]
C = [1,1,2,3,7]

def mono(arr):
    return (all(arr[i] <= arr[i+1] for i in range(len(arr)-1))
            or
            all(arr[i] >= arr[i+1] for i in range(len(arr)-1))
           )

In [67]:
mono(A), mono(B), mono(C)

(True, False, True)

In [77]:
# Move zeros right
arr1 = [0,1,0,3,12]
arr2 = [1,7,0,0,8,0,10,12,0,4]

def move_right(arr):
    for _ in arr:
        if 0 in arr:
            arr.remove(0)
            arr.append(0)
    return arr

In [78]:
move_right(arr1), move_right(arr2)

([1, 3, 12, 0, 0], [1, 7, 8, 10, 12, 4, 0, 0, 0, 0])

In [91]:
# Move zeros left
arr1 = [0,1,0,3,12]
arr2 = [1,7,0,0,8,0,10,12,0,4]

def move_left(arr):
    ctn = 0
    for _ in arr:
        if 0 in arr:
            arr.remove(0)
            ctn += 1
    return [0 for _ in range(ctn)] + arr
move_left(arr1), move_left(arr2)

([0, 0, 1, 3, 12], [0, 0, 0, 0, 1, 7, 8, 10, 12, 4])

In [92]:
# Given an array containing None values fill in the None values with most recent 
# non None value in the array 

array1 = [1,None,2,3,None,None,5,None]

def fill_blanks(arr):
    curr_e = 0
    ans = []
    for e in arr:
        if e is not None:
            ans.append(e)
            curr_e = e
        else:
            ans.append(curr_e)
    return ans
fill_blanks(array1)

[1, 1, 2, 3, 3, 3, 5, 5]

In [94]:
#Given two sentences, return an array that has the words that appear in one sentence and not
#the other and an array with the words in common. 

sentence1 = 'We are really pleased to meet you in our city'
sentence2 = 'The city was hit by a really heavy storm'

def not_common(sentence1, sentence2):
    set1 = set(sentence1.split())
    set2 = set(sentence2.split())
    return sorted(list(set1^set2)), sorted(list(set1&set2))
not_common(sentence1, sentence2)

(['The',
  'We',
  'a',
  'are',
  'by',
  'heavy',
  'hit',
  'in',
  'meet',
  'our',
  'pleased',
  'storm',
  'to',
  'was',
  'you'],
 ['city', 'really'])

In [98]:
# prime numbers array of up to a number
n = 35
def prime(n):
    ans = []
    for num in range(1,n+1):
        for i in range(2, num):
            if (num % i) == 0:
                ans.append(num)
                break
            else:
                ans.append(num)
    return ans
prime(n)

[3,
 4,
 5,
 5,
 5,
 6,
 7,
 7,
 7,
 7,
 7,
 8,
 9,
 9,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 14,
 15,
 15,
 16,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 18,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 20,
 21,
 21,
 22,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 24,
 25,
 25,
 25,
 25,
 26,
 27,
 27,
 28,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 30,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 32,
 33,
 33,
 34,
 35,
 35,
 35,
 35]

In [115]:
def fib(n):
    if n < 0:
        print('Input n >= 0')
    elif n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fib(n-1) + fib(n-2)

[fib(i) for i in range(1,11)]

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]