In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/us_econ_2020.csv')
df.sample(5)

,Order Date,Row ID,Order ID,Ship Mode,Customer ID,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
1650,02-09-20,1950,CA-2017-157987,Standard Class,AC-10615,Corporate,United States,New York City,New York,10009,East,OFF-AP-10000358,Office Supplies,Appliances,Fellowes Basic Home/Office Series Surge Protec...,12.980,1,0.0,3.7642
2658,18-11-20,1654,US-2017-132444,First Class,CD-12280,Consumer,United States,Seattle,Washington,98105,West,TEC-AC-10003832,Technology,Accessories,Imation�16GB Mini TravelDrive USB 2.0�Flash Drive,132.520,4,0.0,54.3332
2868,01-12-20,3558,CA-2017-118542,Standard Class,CC-12550,Consumer,United States,Los Angeles,California,90008,West,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",10.128,2,0.2,3.6714
1884,16-09-20,727,CA-2017-144113,Standard Class,JF-15355,Consumer,United States,Austin,Texas,78745,Central,TEC-PH-10002170,Technology,Phones,ClearSounds CSC500 Amplified Spirit Phone Cord...,55.992,1,0.2,5.5992
3231,24-12-20,2482,CA-2017-147956,Standard Class,AH-10210,Consumer,United States,Seattle,Washington,98105,West,OFF-ST-10001097,Office Supplies,Storage,Office Impressions Heavy Duty Welded Shelving ...,1003.620,6,0.0,0.0000

In [3]:
df.shape

(3312, 19)

In [4]:
df.columns

Index(['Order Date', 'Row ID', 'Order ID', 'Ship Mode', 'Customer ID',
       'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region',
       'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales',
       'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [5]:
df.iloc[43]

Order Date             14-01-20
Row ID                     4911
Order ID         CA-2017-127306
Ship Mode        Standard Class
Customer ID            BH-11710
Segment                Consumer
Country           United States
City               Johnson City
State                 Tennessee
Postal Code               37604
Region                    South
Product ID      OFF-PA-10000019
Category        Office Supplies
Sub-Category              Paper
Product Name         Xerox 1931
Sales                    36.288
Quantity                      7
Discount                    0.2
Profit                  12.7008
Name: 43, dtype: object

In [ ]:
"""
Friday 2021-10-08 InterviewQ:
The following dataset has records on patients showing up for their appointments. 
There is also some lightweight medical data and appointment notification data. 
More information about the schema can be found here.


Given the following data can you create a Random Forest model to predict if a 
patient is a "no-show"? Can you also create a list of features sorted on their 
gini importance? You can read about gini importance here.

Data: https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/medical_no_show.csv
Gini Article: https://medium.com/the-artificial-impostor/feature-importance-measures-for-tree-models-part-i-47f187c1a2c3
Data Description: https://www.kaggle.com/joniarroba/noshowappointment

"""

In [12]:
# download once, save as pickle in ./data/ folder as df_med.pkl
# url = 'https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/medical_no_show.csv'
# df_med = pd.read_csv(url)
# df_med.sample(5)
# df_med.to_pickle('./data/df_med.pkl')

In [22]:
df_med = pd.read_pickle('./data/df_med.pkl')
print('[SAMPLE]')
print(df_med.sample(5))
print('\n[COLUMNS]')
print(df_med.columns)
print('\n[DF SHAPE]')
print(df_med.shape)
print('\n[DF STATS]')
print(df_med.describe())
print('\n[DF DATA TYPES]')
print(df_med.dtypes)

[SAMPLE]
           PatientId  AppointmentID Gender          ScheduledDay  \
106974  6.895450e+13        5747758      F  2016-05-30T16:17:34Z
102791  9.416259e+14        5134228      F  2015-12-07T10:43:50Z
31165   9.726979e+13        5641401      F  2016-04-29T13:30:15Z
101703  7.312367e+13        5780155      M  2016-06-07T07:41:05Z
56410   1.686896e+12        5641509      M  2016-04-29T13:48:51Z

              AppointmentDay  Age   Neighbourhood  Scholarship  Hipertension  \
106974  2016-06-03T00:00:00Z   42      BELA VISTA            0             0
102791  2016-06-03T00:00:00Z   77   SÃO CRISTÓVÃO            0             1
31165   2016-05-16T00:00:00Z    9      DO MOSCOSO            1             0
101703  2016-06-07T00:00:00Z    3  ENSEADA DO SUÁ            0             0
56410   2016-05-24T00:00:00Z   32    SÃO BENEDITO            0             0

        Diabetes  Alcoholism  Handcap  SMS_received No-show
106974         0           0        0             1      No
102791         1           0        0             1      No
31165          0           0        0             0     Yes
101703         0           0        0             0      No
56410          0           0        0             1     Yes

[COLUMNS]
Index(['PatientId', 'AppointmentID', 'Gender', 'ScheduledDay',
       'AppointmentDay', 'Age', 'Neighbourhood', 'Scholarship', 'Hipertension',
       'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received', 'No-show'],
      dtype='object')

[DF SHAPE]
(110527, 14)

[DF STATS]
          PatientId  AppointmentID            Age    Scholarship  \
count  1.105270e+05   1.105270e+05  110527.000000  110527.000000
mean   1.474963e+14   5.675305e+06      37.088874       0.098266
std    2.560949e+14   7.129575e+04      23.110205       0.297675
min    3.921784e+04   5.030230e+06      -1.000000       0.000000
25%    4.172614e+12   5.640286e+06      18.000000       0.000000
50%    3.173184e+13   5.680573e+06      37.000000       0.000000
75%    9.439172e+13   5.725524e+06      55.000000       0.000000
max    9.999816e+14   5.790484e+06     115.000000       1.000000

        Hipertension       Diabetes     Alcoholism        Handcap  \
count  110527.000000  110527.000000  110527.000000  110527.000000
mean        0.197246       0.071865       0.030400       0.022248
std         0.397921       0.258265       0.171686       0.161543
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000       0.000000
max         1.000000       1.000000       1.000000       4.000000

        SMS_received
count  110527.000000
mean        0.321026
std         0.466873
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000

[DF DATA TYPES]
PatientId         float64
AppointmentID       int64
Gender             object
ScheduledDay       object
AppointmentDay     object
Age                 int64
Neighbourhood      object
Scholarship         int64
Hipertension        int64
Diabetes            int64
Alcoholism          int64
Handcap             int64
SMS_received        int64
No-show            object
dtype: object

In [20]:
x_raw = df_med[df_med.describe().columns[2:]]
x_raw

,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,62,0,1,0,0,0,0
1,56,0,0,0,0,0,0
2,62,0,0,0,0,0,0
3,8,0,0,0,0,0,0
4,56,0,1,1,0,0,0
...,...,...,...,...,...,...,...
110522,56,0,0,0,0,0,1
110523,51,0,0,0,0,0,1
110524,21,0,0,0,0,0,1
110525,38,0,0,0,0,0,1
110526,54,0,0,0,0,0,1