In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [3]:
df_dict = {'name': ['Bobby', 'Tammy', 'Happy', 'Tommy', 'Amy']
           , 'age': [23, 20, 21, 27, 30]
           , 'sex': ['male', 'female', 'female', 'male', 'female']
           , 'phone': ['iPhone', 'Android', 'iPhone', 'Android', 'iPhone']
           , 'bill': [45, 60, 57, 38, 42]
           , 'state': ['NY', 'CA', 'CA', 'CA', 'NY']
          }

df = pd.DataFrame(df_dict)

In [4]:
df

    name  age     sex    phone  bill state
0  Bobby   23    male   iPhone    45    NY
1  Tammy   20  female  Android    60    CA
2  Happy   21  female   iPhone    57    CA
3  Tommy   27    male  Android    38    CA
4    Amy   30  female   iPhone    42    NY