In [1]:
'happy'[-2:]

'py'

In [2]:
'happy'[:4]

'happ'

In [3]:
word = 'happy'
word[:len(word)-2]

'hap'

In [4]:
len('happy')

5

In [5]:
def stemmer(text):
    # Write your code here
    text_list = text.split(' ')
    ans_list = []
    ans = ''
    def suffix(word):
        if (word[-2:] == 'ed') or (word[-2:] == 'ly'):
            return word[:len(word)-2]
        elif word[-3:] == 'ing':
            return word[:len(word)-3] 
        else:
            return word
   
    for word in text_list:
        ans_list.append(suffix(word))
        if len(word) > 8:
            ans_list.append(word[:8])
            
    for i in range(len(ans_list)):
        if i < len(ans_list)-1:
            ans += ans_list[i] + ' '
        else:
            ans += ans_list[i]
    return ans

stemmer('a happily dog kindly liked underappreciating')

'a happi dog kind lik underappreciat underapp'

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [7]:
df_dict = {'name': ['Bobby', 'Tammy', 'Happy', 'Tommy', 'Amy']
           , 'age': [23, 20, 21, 27, 30]
           , 'sex': ['male', 'female', 'female', 'male', 'female']
           , 'phone': ['iPhone', 'Android', 'iPhone', 'Android', 'iPhone']
           , 'bill': [45, 60, 57, 38, 42]
           , 'state': ['NY', 'CA', 'CA', 'CA', 'NY']
          }

df = pd.DataFrame(df_dict)

In [8]:
df

    name  age     sex    phone  bill state
0  Bobby   23    male   iPhone    45    NY
1  Tammy   20  female  Android    60    CA
2  Happy   21  female   iPhone    57    CA
3  Tommy   27    male  Android    38    CA
4    Amy   30  female   iPhone    42    NY

In [9]:
df.groupby('sex')['bill'].mean()

sex
female    53.0
male      41.5
Name: bill, dtype: float64

In [10]:
df.groupby(['sex', 'state'])['bill'].mean()

sex     state
female  CA       58.5
        NY       42.0
male    CA       38.0
        NY       45.0
Name: bill, dtype: float64